<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous" />
        <title>Proj html vuejs</title>
    </head>
    <body>
        
        <!-- Div contenitore Vue -->
        <div id="app">

            <!-- Header -->
            <header>
                
                <!-- Navbar -->
                <nav class="container">

                    <section>
                        <a href="#">
                            <img :src="navLeft.logo" alt="">
                        </a>
                    </section>

                    <section>

                        <ul class="list_style_none d_flex align_items_center">
                            <li v-for="link in navRight"><a v-if="link.link" href="#">{{link.link}}</a> <button v-if="link.btn" :class="link.btn == 'APPLY' ? 'btn_apply' : '' ">{{link.btn}}</button></li>
                        </ul>

                    </section>

                </nav>
                <!-- //Navbar -->


                <!-- Sezione Jumbotron -->
                <section id="jumbotron" class="container">

                    <div>
                        <h1>{{headerJumbotron.h1}}</h1>
                        <p>{{headerJumbotron.p1}}</p>
                        <p>{{headerJumbotron.p2}}</p>
                        <button>{{headerJumbotron.linkBuy}}</button>
                        <button>{{headerJumbotron.linkContact}}</button>
                    </div>

                </section>
                <!-- //Sezione Jumbotron -->

            </header>
            <!-- //Header -->


            <!-- Main -->
            <main>

                <!-- Sezione 1 -->
                <section id="section_1">

                    <div class="container">

                        <div>
                            <h2>Meet The New Agency SEO Template From The Avada Team</h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        </div>
                        
                        <div class="d_flex">
                        
                            <div class="box text_center">
                                <i class="fas fa-road"></i>
                                <h3>Establish Goals</h3>
                                <p>Aliquam non elit lacus. praesent aliquet, ipsum id scelerisque convallis, mi ligula euismod odio, vel dictum mi risus a mi.</p>
                            </div>

                            <div class="box text_center">
                                <i class="fas fa-video"></i>
                                <h3>Work With a Team</h3>
                                <p>Cras semper auctor aliquam. Sed porta sed lacus sit amet consectetur. Lorem ipsum dolor sit amet, consectetur adepiscin.</p>
                            </div>

                            <div class="box text_center">
                                <i class="fas fa-tint"></i>
                                <h3>Get Results</h3>
                                <p>Vestibulum scelerisque egestas lectus sit amet molestie. Donec consectetur cursus est sed blandit. Nunc sed risus lacus.</p>
                            </div>
                        
                        </div>

                        <div class="img"></div>

                    </div>

                </section>
                <!-- //Sezione 1 -->

                <!-- Sezione 2 -->
                <section id="section_2" class="text_center">

                    <h3>See Our Top Notch Services</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>

                    <div class="container">

                        <div class="box">
                            <i class="fab fa-google"></i>
                            <h4>Google SEO</h4>
                            <p>Vestibulum in lacinia metus. Suspendisse in enim ipsum. Nulla facilisi. Donec ante turpis, dictum sed magna et, dapibus faucibus odio.</p>
                            <a href="#">Read More <i class="fas fa-chevron-right"></i></a>
                        </div>

                        <div class="box">
                            <i class="fas fa-cog"></i>
                            <h4>Google SEO</h4>
                            <p>Vestibulum in lacinia metus. Suspendisse in enim ipsum. Nulla facilisi. Donec ante turpis, dictum sed magna et,
                                dapibus faucibus odio.</p>
                            <a href="#">Read More <i class="fas fa-chevron-right"></i></a>
                        </div>

                        <div class="box">
                            <i class="fas fa-building"></i>
                            <h4>Google SEO</h4>
                            <p>Vestibulum in lacinia metus. Suspendisse in enim ipsum. Nulla facilisi. Donec ante turpis, dictum sed magna et,
                                dapibus faucibus odio.</p>
                            <a href="#">Read More <i class="fas fa-chevron-right"></i></a>
                        </div>

                        <div class="box">
                            <i class="far fa-chart-bar"></i>
                            <h4>Google SEO</h4>
                            <p>Vestibulum in lacinia metus. Suspendisse in enim ipsum. Nulla facilisi. Donec ante turpis, dictum sed magna et,
                                dapibus faucibus odio.</p>
                            <a href="#">Read More <i class="fas fa-chevron-right"></i></a>
                        </div>

                    </div>

                </section>
                <!-- //Sezione 2 -->

                <!-- Sezione 3 -->
                <section id="section_3">

                    <div class="container">

                        <div>
                            <h3>Our Work</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        </div>

                        <div class="d_flex">

                            <div class="box">
                                <img src="assets/img/case-study-gallery-3-1-400x300.jpg" alt="">
                            </div>

                            <div class="box">
                                <img src="assets/img/case-study-gallery-2-400x300.jpg" alt="">
                            </div>

                            <div class="box">
                                <img src="assets/img/case-study-gallery-1-1-400x300.jpg" alt="">
                            </div>

                        </div>

                        <div class="d_flex">
                        
                            <div class="box">
                                <img src="assets/img/case-study-gallery-4-1-400x300.jpg" alt="">
                            </div>
                        
                            <div class="box">
                                <img src="assets/img/case-study-gallery-5-1-400x300.jpg" alt="">
                            </div>
                        
                            <div class="box">
                                <img src="assets/img/case-study-gallery-6-1-400x300.jpg" alt="">
                            </div>
                        
                        </div>

                        <div class="text_center">
                            <button>VIEW OUR WORK</button>
                        </div>

                    </div>

                </section>
                <!-- //Sezione 3 -->

                <!-- Sezione 4 -->
                <section id="section_4">

                    <div class="container">
                        
                        <div>
                            <h3>Our Plans</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        </div>

                        <div class="d_flex">

                            <div class="box">
                                <h4>Standard</h4>
                                <div class="d_flex">
                                    <i class="fas fa-dollar-sign"></i>
                                    <span class="color_purple_heart">19</span>
                                    <div>
                                        <span class="color_purple_heart">99</span>
                                        <span class="color_light_grey">monthly</span>
                                    </div>
                                </div>
                                <p class="text_center color_light_grey">5 Projects</p>
                                <p class="text_center color_light_grey">5 GB Storage</p>
                                <p class="text_center color_light_grey">Unlimited Users</p>
                                <div class="text_center">
                                    <button>START TODAY</button>
                                </div>
                            </div>

                            <div class="box">
                                <h4>Premium</h4>
                                <div class="d_flex">
                                    <i class="fas fa-dollar-sign"></i>
                                    <span class="color_purple_heart">29</span>
                                    <div>
                                        <span class="color_purple_heart">99</span>
                                        <span class="color_light_grey">monthly</span>
                                    </div>
                                </div>
                                <p class="text_center color_light_grey">10 Projects</p>
                                <p class="text_center color_light_grey">15 GB Storage</p>
                                <p class="text_center color_light_grey">Unlimited Users</p>
                                <div class="text_center">
                                    <button>START TODAY</button>
                                </div>
                            </div>

                            <div class="box">
                                <h4>Professional</h4>
                                <div class="d_flex">
                                    <i class="fas fa-dollar-sign"></i>
                                    <span class="color_purple_heart">39</span>
                                    <div>
                                        <span class="color_purple_heart">99</span>
                                        <span class="color_light_grey">monthly</span>
                                    </div>
                                </div>
                                <p class="text_center color_light_grey">15 Projects</p>
                                <p class="text_center color_light_grey">30 GB Storage</p>
                                <p class="text_center color_light_grey">Unlimited Users</p>
                                <div class="text_center">
                                    <button class="btn_orange">START TODAY</button>
                                </div>
                            </div>

                            <div class="box">
                                <h4>Extreme</h4>
                                <div class="d_flex">
                                    <i class="fas fa-dollar-sign"></i>
                                    <span class="color_purple_heart">59</span>
                                    <div>
                                        <span class="color_purple_heart">99</span>
                                        <span class="color_light_grey">monthly</span>
                                    </div>
                                </div>
                                <p class="text_center color_light_grey">Unlimited Projects</p>
                                <p class="text_center color_light_grey">Unlimited Storage</p>
                                <p class="text_center color_light_grey">Unlimited Users</p>
                                <div class="text_center">
                                    <button>START TODAY</button>
                                </div>
                            </div>                           

                        </div>

                    </div>

                </section>
                <!-- //Sezione 4 -->

                <!-- Sezione 5 -->
                <section id="section_5">

                    <div class="container">

                        <div>
                            <h3>Our News</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        </div>

                        <div class="d_flex">

                            <div class="box text_center">
                                <img src="assets/img/related-service-2-320x202.jpg" alt="">
                                <h4>Why You Need A SEO Agency Now</h4>
                                <p>November 1st, 2017</p>
                                <p>ALorem ipsum dolor sit amet, consectetur adipiscing elit. In et scelerisque sem. Nunc molestie neque augue, at gravida mi blandit</p>
                            </div>

                            <div class="box text_center">
                                <img src="assets/img/related-service-4-320x202.jpg" alt="">
                                <h4>SEO Tips For Your Startup</h4>
                                <p>November 1st, 2017</p>
                                <p>ALorem ipsum dolor sit amet, consectetur adipiscing elit. In et scelerisque sem. Nunc molestie neque augue, at
                                    gravida mi blandit</p>
                            </div>

                            <div class="box text_center">
                                <img src="assets/img/blog-post-6-320x202.jpg" alt="">
                                <h4>Image Optimization For Your Site</h4>
                                <p>November 1st, 2017</p>
                                <p>ALorem ipsum dolor sit amet, consectetur adipiscing elit. In et scelerisque sem. Nunc molestie neque augue, at
                                    gravida mi blandit</p>
                            </div>

                        </div>

                        <div class="text_center">
                            <button>go to news</button>
                        </div>

                    </div>

                </section>
                <!-- //Sezione 5 -->

                <!-- Sezione 6 -->
                <section id="section_6">

                    <div class="container">

                        <h3 class="text_center">What Our Clients Say</h3>
                        <div class="text_center" v-for="testimonial in sect6Img">
                            <div class="box" v-if="testimonial.visible">
                                <div>
                                    <img :src="testimonial.testimonial" alt="">
                                </div>
                                <p>{{testimonial.frase}}</p>
                                <p><span>{{testimonial.nome}}</span>, {{testimonial.lavoro}}</p>
                            </div>
                        </div>
                        <div class="pallini d_flex">
                            <div :class="testimonial.visible ? 'active_img' : ''" v-for="(testimonial, index) in sect6Img" @click="changeImg(index)"></div>
                        </div>

                        <div class="logs">
                            <img src="assets/img/clients_partner_5-200x202.png" alt="">
                            <img src="assets/img/clients_partner_6-200x202.png" alt="">
                            <img src="assets/img/clients_partner_1-200x202.png" alt="">
                            <img src="assets/img/clients_partner_2-200x202.png" alt="">
                        </div>

                    </div>

                </section>
                <!-- //Sezione 6 -->

                <!-- Sezione 7 -->
                <section id="section_7">

                    <div>
                        <h3>Start Your Free Consultation</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <button>contact us now</button>
                    </div>

                </section>
                <!-- //Sezione 7 -->

            </main>
            <!-- //Main -->


            <!-- Footer -->
            <footer>
                <img :src="footer.logo" alt="">
                <div class="link">
                    <ul class="d_flex">
                        <li class="list_style_none" v-for="link in footer.link"><a href="">{{link}}</a></li>
                    </ul>
                </div>

                <div>
                    <ul class="d_flex">
                        <li class="list_style_none" v-for="copy in footer.copyright">{{copy.copy1}} <span v-if="copy.copy2">{{copy.copy2}}</span></li>
                    </ul>
                </div>

                <a v-for="i in footer.icone" href="#">
                    <i :class="i"></i>
                </a>

            </footer>
            <!-- //Footer -->


        </div>
        <!-- /Div contenitore Vue -->


        <script src="assets/js/main.js"></script>        
    </body>
</html>