*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(92, 92, 92);
}

/* class utility */

.container{
    width: 1200px;
    margin: auto;
}

.list_style_none{
    list-style: none;
}

.d_flex{
    display: flex;
}

.align_items_center{
    align-items: center;
}

.active{
    color: #ffa837;
}

.text_center{
    text-align: center;
}
/* //class utility */

/***********
***HEADER***
***********/

header{
    height: 900px;
    background-image: url("../img/1-hero-image.png");
    background-size: cover;
    background-position: center;
}


/* Navbar */
nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > section:last-of-type > ul > li{
    margin-left: 30px;
    font-size: 18px;
}

nav>section:last-of-type>ul>li>button.btn_apply {
    font-size: 12px;
    padding: 3px 7px;
    color: #eca447;
    border-color: #eca447;
    background-color: rgb(255 255 255 / 0%);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

nav>section:last-of-type>ul>li>button.btn_apply:hover{
    color: #ff9100;
    border-color: #ff9100;
}

nav>section:last-of-type>ul>li:last-of-type>button {
    font-size: 12px;
    padding: 13px 22px;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: #ffa837;
    border: none;
    outline: none;
    cursor: pointer;
}

nav>section:last-of-type>ul>li:last-of-type>button:hover{
    background-color: #ff9001;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    text-decoration: underline;
}

/* //Navbar */


/* Jumbotron */

#jumbotron > div{
    width: 50%;
    padding-top: 175px;
    color: white;
}

#jumbotron>div>h1{
    font-size: 55px;
    padding-bottom: 20px;
}

#jumbotron>div>p{
    font-size: 19px;
    line-height: 30px;
}

#jumbotron>div>button{
    margin-top: 25px;
    margin-right: 15px;
    font-size: 13px;
    padding: 15px 45px;
    color: white;
    font-weight: 700;
    border-radius: 45px;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
}

#jumbotron>div>button:first-of-type{
    background-color: #ffa837;
}

#jumbotron>div>button:first-of-type:hover{
    background-color: #ff9001;
}

#jumbotron>div>button:last-of-type {
    background-color: #0369d7;
}


#jumbotron>div>button:last-of-type:hover{
    background-color: #1888ff;
}
/* //Jumbotron */

/***********
///HEADER///
***********/

/***********
****MAIN****
***********/

/* Sezione 1 */

#section_1{
    padding-top: 80px;
    background-color: #f8f8f8;
}

#section_1 > div > div:first-of-type{
    margin: auto;
    width: 50%;
    text-align: center;
}

#section_1>div>div:first-of-type>h2 {
    font-size: 35px;
    padding-bottom: 20px;
}

#section_1>div>div:first-of-type>p {
    font-size: 20px;
    line-height: 25px;
    color: #5d5c5d;
    padding-bottom: 80px;
}

#section_1>div>div:last-of-type{
    justify-content: space-between;
}

#section_1>div>div:last-of-type .box{
    width: 32%;
    padding: 40px 27px;
    background-color: white;
} 

#section_1>div>div:last-of-type .box i{
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #ffa837;
}

#section_1>div>div:last-of-type .box h3 {
    font-size: 30px;
    margin-bottom: 25px;
}

#section_1>div>div:last-of-type .box p {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 5px;
    color: #5d5c5d;
}


/* //Sezione 1 */

/***********
////MAIN////
***********/